/* Imports Section - Start*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@302&display=swap');
/* Imports Section - End*/

/*Border and Body - START */
* {
    margin: 0;
    padding: 0; 
    border: none;  
}

body {
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    background-color:  rgba(251, 184, 37, .5);
}

h1 h2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: 1px;
    color: #3E0D05;
}

header {
    background-color: rgba(251, 184, 37, .8);
    padding: 20px 0 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    /*justify for horizontal alignment*/
    align-items: center;
    /*align for vertical alignment*/
    max-width: 60rem;
    /*choose to use rem rather than px as it's relative to the base pixel*/
    margin: 0 auto;
    padding: 0 0.5rem;
    /*padding has been added here to ensure the container elements do not touch the sides of web window*/
}

#img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
    height: 300px;
    padding: 5px;
}

/*Nav -START*/

.img-icon {
    color: #3E0D05;
    opacity: 0.5;
}

ul { 
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 1.25rem;
}

li a {
    text-decoration: none;
    color: #3E0D05;
    opacity: 0.8;
}

.menu-icon {
    display: none;
    position: absolute; 
    top: 1.5rem;
    right: 1rem;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}

/*Nav-End*/

/*Border and Body - END */

/*Section - START*/
/*index - Start*/

/*index - End*/

/*Section - END*/

/*About - Start*/

/*About - End*/

/*Recipes - Start*/
div.gallery {
    border: none;
  }

div.gallery:hover {
    border: none;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}

.img-shadow {
    box-shadow: 7px 0 7px 0 #888888;
    border-radius: 5px; 
}
  
div.desc {
    padding: 20px;
    text-align: left;
}
  
* {
    box-sizing: border-box;
}
  
.responsive {
    padding: 90px 10px 90px 10px;
    float: left;
    width: 33.3%;
}

.recipe-title {
    padding: 10px 0 10px 0;
    font-weight: bold;
}
/*Recipes - End*/
    

/*Playlists -Start*/
.column {
    float: left;
    width: 20%;
    background-color: none;
    opacity: 0.5;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

div #playlist-media-icons {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

#playlist-media-icons {
    padding: 30px;
}

#playlist-media-icons i {
        font-size: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 0.5;
}

#playlist-media-icons > p {
    font-size: 45px;
    opacity: 0.5;
    text-align: center;
    padding-top: 25px; 
    padding-bottom: 25px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/*Playlists - End*/


/*TESTER START*/

#form-box {
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    border: 2px solid red; 
}


/*TESTER END*/

/*Footer - Start*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    padding: 20px 0 20px 0;
    background-color: rgba(251, 184, 37);
    text-align: center;
 }

#copyright-style {
    font-size: 15px;
    opacity: 0.8;
    color: #3E0D05;
}

.sm-links {
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    width: 100%; 
    overflow: auto;
    font-size: 30px;
}

.fa:hover {
  color: #e0489f;
  opacity: 0.7;
}

.fa-twitter {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}

.fa-instagram {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}

.fa-discord {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}
  
.fa-youtube {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8; 
}
  
.fa-pinterest {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    color: #3E0D05;
    opacity: 0.8;
}

a:hover {
    text-decoration: none;
    color: #e0489f;
    opacity: 0.8;
}
/*Footer - End*/



/*Media Query Section - START*/
/* for nav*/
@media all and (max-width: 720px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }

    li {
        display: block; 
        text-align: center;
        padding: 1rem 0;
    }

    li a {
        font-size: 1.5rem;
    }

    .menu-icon {
        display: block;
    }   
}
/*For recipes - Start*/
  
 @media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /*For recipes - End*/

   
  /*Media Query Section - END*/