/* Imports Section - Start*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@302&display=swap');
/* Imports Section - End*/

/*Border and Body - START */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h1 h2 h3 {
    text-transform: none;
    letter-spacing: 1px;
    font-family:'Open Sans', sans-serif;
    color: #F0F8FF;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    /*justify for horizontal alignment*/
    align-items: center;
    /*align for vertical alignment*/
    max-width: 60rem;
    /*choose to use rem rather than px as it's relative to the base pixel*/
    margin: 0 auto;
    padding: 0 0.5rem;
    /*padding has been added here to ensure the container elements do not touch the sides of web window*/
}/*This affects the position of the nav and logo on all site pages*/

#img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 250px;
    height: 250px;
    float: left;
}

/*Border and Body - END */
/*Nav -START*/
.img-icon {
    color: #3E0D05;
    opacity: 0.5;
}

ul { 
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 1.25rem;
}

li a {
    text-decoration: none;
    color: #3E0D05;
    font-size: 18px;
}

.menu-icon {
    display: none;
    position: absolute; 
    top: 1.5rem;
    right: 1rem;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}
/*Nav-End*/


/*Home - START*/

/*Section 1 - start*/
#secstyle-one {
    padding: 30px 10px 30px 10px;
    background-color: rgba(251, 184, 37, .7);
    color: #F0F8FF;
}

#overview {
    padding: 30px 10px 30px 10px;
    text-align: center;
}

#overview i {
    font-size: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.overview-column {
    float: left;
    width: 33.3%;
    background-color: none;
    padding: 10px;
}

.overview-column p {
    font-size: 14px;
}

/*section 2 -start*/
.sectwo-img {
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url('../images/pexels-rfstudio-3059812-cropped.jpg'); /*alt="african woman stretching in a forest on a bridge"*/ 
}
/*section 2 -end*/

/*section 2.1 -start*/
#video-column {
    float: left;
    background-color: none;
    width: 33.3%;
}
/*section 2.1 -end*/

/*section 3 -start*/
.secthree-img {
    height: 600px;
    width: 100%;
    background-image: url('../images/pexels-ezekixl-akinnewu-94624-cropped.jpg'); /*alt="african woman lying on a bed of flowers"*/ 
}
/*section 3 -end*/

/*section 3.1 - start*/
#secstyle-three {
    background-color: orangered;
    padding: 30px 10px 30px 10px;
    color: #F0F8FF;
    opacity: 0.7;
}

.sec-circle-div {
    height: 300px;
    border: 1px transparent;
    border-radius: 50%;
    text-align: center;
    float: left;
}
/*section 3.1 - end*/
/*Home - END*/

/*About - Start*/

/*section 1 - start*/

.secone div { 
    padding: 50px;
    text-align: center;
}

.secone img {
    border-radius: 50%;
}
/*section 1 - end*/

/*section 2 - start*/
#about {
    padding: 50px;
    background-color: rgba(255, 13, 134, .2);
    text-align: justify;
}

#about div {
    padding-right: 50px;
    padding-left: 50px;
}

#about h1 {
    text-align: center;
    padding: 20px;
}

.about-column {
    float: left;
    width: 50%;
    padding: 10px;
}

/*section 2 - end*/

/*About - End*/

/*Recipes - Start*/
.recipe-header {
    text-align: center;
    padding: 10px;
}

.recipe-header a {
    text-align: center;
    padding: 10px;
    color: #3E0D05;
    text-decoration: none;
}
  
#recipe-boxes{
    content: "";
    display: table;
    clear: both;
    padding: 20px 20px;
}
  
section #recipe-boxes{
    padding: 10px 10px;
}
  
#recipe-boxes div {
    float: left;
    height: auto;
    width: 50%;
}
  
#column1 img {
    width: 75%; /*dont change this lines images nicely with the instruction boxes*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5%;
}
  
#column2 {
    background-color: rgba(255, 13, 134, .2);
    width: 50%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5%;
}
  
#column2 h2 {
    padding: 5px 5px;
}
  
#column2 i {
    padding: 5px 5px;
    font-size: 20px;
    font-weight: medium;
}
  
#column2 span {
    padding-right: 10px;
}
  
#column2 p {
    padding: 5px 5px;
}
  
#column2 li {
    display: list-item;
}
  
#footer {
    text-decoration: none;
} 
/*Recipes - End*/
    
/*Playlists -Start*/
.column {
    float: left;
    width: 20%;
    background-color: none;
    opacity: 0.5;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

div #playlist-media-icons {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}/*the padding-bottom value (above) allows the footer to be positioned at the bottom of the page on both desktop and larger monitor screens. Without it, the footer comes up half way on the larger monitore screen.*/

#playlist-media-icons {
    padding: 30px;
}

#playlist-media-icons i {
        font-size: 70px;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 0.5;
}

#playlist-media-icons > p {
    font-size: 45px;
    opacity: 0.5;
    text-align: center;
    padding-top: 25px; 
    padding-bottom: 25px;
}

#playlist-media-icons div > p {
    text-align: center;
}
/*Playlists - End*/


/*Connect- Start*/
#connect-background {
    background-image: url('../images/pexels-jeremy-bishop-2710131.jpg');
    width: 100%;
    clear: left;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 150px;
}/*leave this alone, background on this page is exactly how I want it*/

#connect-background .connect-box {
    border: transparent;
    margin: auto;
    width: 800px;
    height: 500px;
    color: #F0F8FF;
    border-radius: 1%;
}

div > legend {
    padding-top: 15px; 
}
 
.connect-box {
    background-color: rgb(255, 13, 134, .75);
    font-weight: medium;
}

.user-details > p {
    font-size: 18px;
}

.connect-box div {
    padding: 5px 5px; 
}

.handle > span {
    padding: 100px 80px 100px 80px;
}

.handle  i {
    color: rgba(240, 248, 255);
    font-size: 20px;
    padding: 10px;
}

.handle > input {
    padding: 10px;
}
    
#name > label {
    font-weight: 20px;
    padding-right: 5px;
    padding-left: 50px;
    padding-bottom: 30px;
}

#email > label {
    font-weight: 20px;
    padding-left: 20px;
}

input {
    background-color:rgb(240, 248, 255);
    border-radius: 10px;
    padding: 5px;
    text-align: center;   
}

.radio > p {
    padding-top: 30px;
    font-size: 18px;
}

.radio {
    text-align: center;
}

.radio > span {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}

div .button-style  {
    border-radius: transparent;   
    text-align: center;
    padding: 20px; 
}

.button-style input { 
    padding: 10px;
    font-size: 18px;
    background-color: rgba(251, 184, 37, .85); 
    color: rgb(240, 248, 255);
    font-weight: medium;
}

.our-details > i {
    padding: 5px;
    font-size: 30px;
    color: rgb(240, 248, 255);  
}

.our-details > p {
    padding: 10px;
    font-size: 20px;
    color: rgb(240, 248, 255);
}

.our-details a {
    text-decoration: none;
}

#name input:hover{
    color: rgb(255, 13, 134, .75);
}

#email input:hover{
    color: rgb(255, 13, 134, .75);
}

.handle input:hover{
    color: rgb(255, 13, 134, .75);
}

.radio label:hover {
    color: rgba(251, 184, 37);
}

.our-details i:hover {
    color: rgba(251, 184, 37);
}

/* pop-up bottom-right - Source Code has been amended to suit my site, but originally sourced from W3Schools - https://www.w3schools.com/howto/howto_js_callout.asp*/
.callout {
    position: fixed;
    bottom: 100px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
}
  
.callout-header {
    padding: 10px 15px;
    background-color:  rgb(240, 248, 255);
    font-size: 20px;
    color: rgb(255, 13, 134, .75);
    text-align: center;
}
  
.callout-container {
    padding: 15px;
    background-color: rgb(255, 13, 134, .75);
    color: rgb(240, 248, 255);
}
  
.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: rgb(240, 248, 255);
    font-size: 30px;
    cursor: pointer;
}
  
.closebtn:hover {
    color: lightgrey;
}

/*Connect - end*/

/*Footer - Start*/
footer {
    position: sticky;
    /*sticky value allows the footer to stick to the browser at different screen sizes. Info Source: https://www.w3schools.com/howto/howto_css_sticky_element.asp*/
    /*Do not touch, this has fixed the footer issue on home, about, recipes, playlist and connect pages on desktop screen and smaller*/
    width: 100%;
    height: 100px;
    padding: 15px 0 15px 0;
    background-color: rgba(251, 184, 37);
    text-align: center;
}

#copyright-style {
    font-size: 15px;
    opacity: 0.8;
    color: #3E0D05;
}

.sm-links {
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    width: 100%; 
    overflow: auto;
    font-size: 30px;
}

.fa-twitter {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}

.fa-instagram {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}

.fa-discord {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}
  
.fa-youtube {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8; 
}
  
.fa-pinterest {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8;
}
/*Footer - End*/



/*Media Query Section - START*/

/* for nav*/
@media all and (max-width: 1280px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
/*max-width has been changed to 1280px from 720px to make nav into hamburgar icon menu on tablet screens (e.g. 10" tab has typical resolution of 1280 x800) Info Sources: https://www.colourmylearning.com/2015/04/best-10-inch-windows-tablets-with-full-hd-display/#:~:text=The%20typical%20screen%20resolution%20at,screens%3B%201366%20x%20768%20pixels and https://www.scantips.com/basics1c.html*/
    nav {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }

    li {
        display: block; 
        text-align: center;
        padding: 1rem 0;
    }

    li a {
        font-size: 1.5rem;
    }

    .menu-icon {
        display: block;
    }   
}
/*For recipes - Start*/
 @media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  /*For recipes - End*/

   
  /*Media Query Section - END*/