/* Imports Section - Start*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@302&display=swap');
/* Imports Section - End*/

/*Border and Body - START */
* {
    margin: 0;
    padding: 0; 
    border: none;
    box-sizing: border-box;
    color: #3E0D05;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}



#nav-container {
  display: flex;
  justify-content: space-between;
  /*justify for horizontal alignment*/
  align-items: center;
  /*align for vertical alignment*/
  max-width: 60rem;
  /*choose to use rem rather than px as it's relative to the base pixel*/
  margin: 0 auto;
  padding: 0 0.5rem;
  /*padding has been added here to ensure the container elements do not touch the sides of web window*/
}/*This affects the position of the nav and logo on all site pages*/

#img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 250px;
    height: 250px;
    float: left;
}


/*Border and Body - END */
/*Nav -START*/
.img-icon {
    color: #3E0D05;
    opacity: 0.5;
}

ul { 
    padding: 0;
}

li {
    display: inline-block;
    padding: 0 1.25rem;
}

li a {
    text-decoration: none;
    color: #3E0D05;
    font-size: 18px;
}

.menu-icon {
    display: none;
    position: absolute; 
    top: 1.5rem;
    right: 1rem;
}

.open {
    height: 100vh;
}

.hidden {
    display: none;
}
/*Nav-End*/







/*Media Query Section - START*/

/* sourced from https://getbootstrap.com/docs/5.0/layout/breakpoints/ */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
 
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}

   
/*Media Query Section - END*/