/* Imports Section - Start*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@302&display=swap');
/* Imports Section - End*/

body, html {
    height: 100vh;
}

body {
    margin: 0;
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 6);
    grid-template-areas:
    "header"
    "sect1" 
    "sect2" 
    "sect3"
    "main"
    "footer";
}

aside {
    grid-area: sidebar;
    background-color:  white;
}

#vid-col {
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div iframe {
    display: inline-block;
    vertical-align: middle;  
}

/*HEADER -BELOW*/

#img-logo {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header {
    grid-area: header;
    background-color: white;
}

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu li {
    display: inline-block;
    font-weight: 400;
    float: right;
    list-style-type: none;
    margin-right: 100px;
    line-height: 70px;
}

#menu a {
    text-decoration: none;
    font-size: 20px;
    color: #C54F00;
    text-transform: capitalize;
}

.active {
    border-bottom: dashed 2px #C54F00;
}

li a:hover {
    color: rgba(255, 13, 134, .7);
}
/* Home - SECTIONS BELOW*/
section:nth-of-type(1) {
    grid-area: sect1;
    background-color: white;
}

section:nth-of-type(2){
    grid-area: sect2;
    background-color: white;
}

section:nth-of-type(3){
    grid-area: sect3;
    background-color: white;
}

#secstyle-three {
    background-color: rgb(255,218,0);
    padding: 20px 10px 20px 10px;
    text-transform: uppercase;
    color: #C54F00;
}

.sec-circle-div {
    border: 1px transparent;
    border-radius: 50%;
    text-align: center;
    float: left;
}

/*MAIN BELOW*/

main {
    grid-area: main;
    background-color: white;
}

#overview {
    padding: 30px 10px 30px 10px;
    text-align: center;
}

#overview i {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#C54F00;
}

#overview h1 {
    color: #C54F00;
    padding-bottom: 10px;
}
.overview-column {
    float: left;
    width: 33.3%;
    padding: 10px;
    color: #C54F00;
}

.overview-column p {
    font-size: 14px;
    color: #C54F00;
    padding: 5px;
}

/*FOOTER BELOW*/

footer {
    grid-area: footer;
    background-color: white;
    padding: 10px 0 15px 0;
    text-align: center;
}

#copyright-style {
    font-size: 15px;
    opacity: 0.8;
    color: #3E0D05;
}

.sm-links  {
    display: flex;
    justify-content: center;
    margin: 0 auto; 
    width: 100%; 
    overflow: auto;
}

.sm-links a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    color: #3E0D05;
    opacity: 0.8; 
    font-size: 25px;
}

.sm-links a:hover {
    color: rgba(255, 13, 134, .7);
}


/*MEDIA QUERY BELOW*/

@media only screen and (min-width:768px) {
    body {
        margin: 0;
        display: grid; 
        grid-template-columns: 27% auto auto auto;
        grid-template-rows: 8% 30% auto 10%;
        grid-template-areas:
        "sidebar header header header"
        "sidebar sect1 sect2 sect3"
        "sidebar main main main"
        "sidebar footer footer footer";
    }/*larger screen settings*/
}